.grid-wrapper {
  width: 415px;
  margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 5px;
    background-color: #fff;
    margin: 0 auto;
    width: auto;
  }
  
  .cell {
    background-color: teal;
    /* border: 1px solid #444; */
    color: #fff;
    padding: 50px;

  }